.swipeButtons {
  position: fixed;
  bottom: 6vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.swipeButtons .MuiIconButton-root {
  background-color: white;
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3) !important;
}

.swipeButtons__repeat {
  color: #f5b748 !important;
}
.swipeButtons__left {
  color: #e74c28 !important;
}
.swipeButtons__star {
  color: #48bef5 !important;
}
.swipeButtons__right {
  color: #48f58a !important;
}
.swipeButtons__lightning {
  color: #3d229e !important;
}
